footer {
    display: flex;
    justify-content: center;
    gap: 40px;

    width: 100vw;
    margin: 0 auto 0;
    padding: 50px 0 150px;

    text-align: left;

    color: #f3f3f3;
    background-color: #383838;

    @media screen and (max-width: 830px) {
        flex-direction: column;
        padding: 50px;
    }

    h6 {
        margin-bottom: 15px;

        font-size: 14px;
        text-transform: uppercase;
        font-weight: 300;
    }

    .footer-subtext {
        display: block;
        margin-bottom: 10px;
        font-weight: 300;
        font-size: 12px;

        color: #797979;

        &:hover {
            color: #f3f3f3;
        }
    }

    .footer-logo-box {
        max-width: 350px;
        text-align: right;

        img {
            width: 220px;

            @media screen and (max-width: 830px) {
                margin-bottom: 15px;
            }
        }

        @media screen and (max-width: 830px) {
            text-align: left;
        }
    }

    .footer-profile-box, .footer-albums-box, .footer-general-box {
        min-width: 120px;
        max-width: 300px;
    }


}