.profile-submenu {
    min-width: 130px;
    width: 15vw;
    position: absolute;
    top: 40px;
    right: 25px;
    padding-top: 25px;
    list-style: none;
    text-align: end;

    @media screen and (max-width: 725px) {
      width: 250px;
      right: 0;

      font-size: 25px;
  }
  }
  
  .profile-submenu li {
    background: linear-gradient(90deg, rgba(176,44,0,1) 61%, rgba(238,76,28,1) 120%);
    cursor: pointer;
  }
  
  .profile-submenu li a:hover {
    font-weight: 700;
    color: #b02c00;
    background: #fff;
  }
  
  .profile-submenu.clicked {
    display: none;
  }
  
  .dropdown-nav-item {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    padding: 16px;
    font-size: 16px;

    @media screen and (max-width: 725px) {
      padding: 30px;
  }
  }

  .dropdown-nav-item.hidden {
    display: none;

    @media screen and (max-width: 725px) {
      display: block;
      padding: 30px;
  }
  }