section.messenger {
  height: calc(100vh - 65px);
  display: flex;

  margin-top: 65px;

  .chat-menu {
    flex: 3.5;

    .chat-menu-wrapper {
      padding: 10px;
      height: 100%;
    }
  }

  .chat-box {
    flex: 8.5;

    .chat-box-wrapper {
      display: flex;
      flex-direction: column;
      padding: 40px;
      height: 100%;

      background-color: #fcfcfc;

      .chat-box-top {
        display: flex;
        flex-direction: column;
        gap: 15px;

        height: 100%;
        overflow-y: scroll;
      }

      .chat-box-bottom {
        display: flex;
        margin-top: 5px;
        padding-top: 20px;
        align-items: center;
        justify-content: flex-start;
        gap: 15px;

        border-top: 1px solid #d4d4d4;

        .chat-input {
          width: 80%;
          height: 40px;
          padding: 12px 10px;
          border-radius: 5px;
          background-color: #efefef;
        }

        .submit-btn {
          width: 70px;
          height: 40px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          color: #fff;
          background-color: #b02c00;

          &:hover {
            background-color: #c83301;
          }
        }
      }
    }
  }
}
