section.messenger {
  height: calc(100vh - 65px);
  display: flex;

  margin-top: 65px;

  .chat-menu {
    flex: 3.5;

    .chat-menu-wrapper {
      padding: 10px;
      height: 100%;
    }
  }

  .chat-box {
    flex: 8.5;

    .chat-box-wrapper {
      display: flex;
      flex-direction: column;
      padding: 10px;
      height: 100%;

      .chat-box-top {
        height: 100%;
        padding-right: 10px;
        overflow-y: scroll;
      }

      .chat-box-bottom {
        display: flex;
        margin-top: 5px;
        align-items: center;
        justify-content: space-between;

        .chat-input {
          width: 80%;
          height: 90px;
          padding: 10px;
          border-radius: 5px;
          border: 1px solid #4d4d4d;
        }

        .submit-btn {
          width: 70px;
          height: 40px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          color: #fff;
          background-color: #1ac201;
        }
      }
    }
  }
}
