.profile {
    margin: 65px auto 5px;
    min-height: 1000px;
    header.profile-header {
        display: flex;
        align-items: center;
        padding: 35px;
        height: 200px;

        background-color: #ee4c1c;


        h2 {
            margin-top: 15px;
            text-align: left;
            font-size: 35px;
            font-family: "Arvo", serif;


            color: #f5f5dc;
        }
    }

}